<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
          Add New card 
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <form [formGroup]="paymentForm">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-group card_number">
                        <label for="ccNumber">Enter Debit/ Credit Card Number</label>
                        <input maxlength="20"
                        formControlName="cardNumber"
                        id="ccNumber"
                        type="text"
                        [textMask]="{mask: expMask, guide : false}" 
                        placeholder="Enter Debit/ Credit Card Number"
                        class="form-control"
                        (focus)="getCreditCardType()">
                        <img src="assets\images\amex.png" *ngIf="cardType === 'amex'">
                        <img src="assets\images\discover.png" *ngIf="cardType === 'discover'">
                        <img src="assets\images\mastercard.png" *ngIf="cardType === 'mastercard'">
                        <img src="assets\images\visa.png" *ngIf="cardType === 'visa'">
                        <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                        class="alert alert-danger">
                    
                      <div *ngIf="cardNumber.errors?.required">
                        Card Number is required.
                      </div>
                      <div *ngIf="cardNumber.errors?.ValidateCard?.invalidLength || cardNumber.errors?.ValidateCard?.invalidAmexLength || cardNumber.errors?.ValidateCard?.invalidCard">
                        Please Enter Valid  Card Number 
                      </div> 
                    
                      
                    </div>
                    </div>
        
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="expiryMonth">Expiry Month</label>
                        <select class="form-control"
                    id="expiryMonth"
                    formControlName="expiryMonth">
                    <option value="" disabled> MM</option>  
              <option *ngFor="let month of monthData" value="{{month.value}}">{{month.name}}</option>
            </select>
            <div *ngIf="expiryMonth.invalid && (expiryMonth.dirty || expiryMonth.touched)"
            class="alert alert-danger">
        
          <div *ngIf="expiryMonth.errors?.required">
            Expiry Month is required.
          </div>
          <div *ngIf="expiryMonth.errors?.ValidateExpiry?.cardExpired">
           Given card is expired please enter valid card 
          </div>
          
        </div>
                    </div>
        
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="expiryYear">Expiry year</label>
                        <select class="form-control" id="expiryYear" aria-placeholder="YY"  formControlName="expiryYear">
                          <option value="" disabled>YY</option>  
                          <option *ngFor="let year of yearData" value="{{year}}">{{year}}</option>
                          </select>
                          <div *ngIf="expiryYear.invalid && (expiryYear.dirty || expiryYear.touched)"
                          class="alert alert-danger">
                      
                        <div *ngIf="expiryYear.errors?.required">
                          Expiry Year is required.
                        </div>
                        <div *ngIf="expiryYear.errors?.ValidateExpiry?.cardExpired">
                          Given card is expired please enter valid card 
                         </div>
                      
                      </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="cvv">CVV</label>
                        <input  maxlength="4"
                        formControlName="cvvNumber" id="cvv" placeholder="CVV"
                        class="form-control">
                        <div *ngIf="cvvNumber.invalid && (cvvNumber.dirty || cvvNumber.touched)"
                        class="alert alert-danger">
                    
                      <div *ngIf="cvvNumber.errors?.required">
                        Cvv Number is required.
                      </div>
                      <div *ngIf="cvvNumber.errors?.pattern">
                        Please enter valid Cvv Number
                      </div>
                      <div *ngIf="cvvNumber.errors?.minlength">
                        Cvv  can't be less than 3 number
                      </div>
                    </div>
                    </div>
                </div>
                
                <div class="col-12 mt-3">
                    <button class="btn btn-lg btn-primary" [disabled]="paymentForm.invalid" (click)="submitCard(); modal.dismiss('Cross click')">Add Card</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</ng-template>




  

