<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
        id="modal-basic-title">

    </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">

        <div class="mb-3">
            Are you Sure you want to delete this Card ?
        </div>
        <div class="row">
            <div class="col-4 col-md-2">
                <button class="btn btn-lg btn-outline-primary"
                    (click)="removeCardDetails(); modal.dismiss('Save click')">
                    OK
                </button>
            </div>
            <div class="col-4 col-md-4">
                <button class="btn btn-lg btn-outline-primary " (click)=" modal.dismiss('Cross click')"> Cancel
                </button>
            </div>
        </div>

    </div>
</ng-template>